.color-box {
    color: blue;
    background-color: #0c197d;
}

.border-box {
    border: 5px solid black;
    border-radius: 5px;
}

.padding-margin-box {
    border: 5px solid black;
    padding: 40px;
    margin: 80px;
    box-shadow: 10px 10px 5px gray;
}

.width-height-box {
    background-color: green;
    width: 50%;
    height: 100vh;
}

.font-box {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.nav {
    display: flex;
    gap: 40px;
}

.justify-box {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}

.justify-left-box {
    background-color: red;
    width: 50%;
    height: 40vh;
}

.justify-right-box {
    background-color: blue;
    width: 15%;
    height: 80vh;
}

.flex-wrap-box {
    display: flex;
    flex-wrap: wrap;
}

.flex-wrap-item {
    width: 30%;
    height: 200px;
    border: 1px solid brown;
}