.block1 {
    background-color: green;
}

.block2 {
    background-color: red;
}

.block3 {
    background-color: blue;
}

.inline1 {
    background-color: green;
}

.inline2 {
    background-color: red;
}

.inline3 {
    background-color: blue;
}

